language: python

notifications:
  email: false

python:
    - "2.7"
    - "3.5"
    
sudo: required
dist: trusty
before_install:
    - mysql -u root -i -e "FLUSH PRIVILEGES; SET PASSWORD FOR 'root'@'localhost' = PASSWORD('neur0data')"
    - sudo apt-get install apt-transport-https ca-certificates
    - sudo apt-get update -y;

install:
    - sudo apt-get autoremove
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo apt-get update
    - sudo apt-get install gcc-4.9 g++-4.9 -y
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 60 --slave /usr/bin/g++ g++ /usr/bin/g++-4.9
    - sudo apt-get install gcc-4.8 g++-4.8 -y
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 60 --slave /usr/bin/g++ g++ /usr/bin/g++-4.8
    - sudo apt-get install python-dev python3-dev
    - sudo apt-get install python-setuptools python3-setuptools
    - sudo apt-get install python-numpy
    - sudo apt-get install zlib1g-dev
    - sudo apt-get install libhdf5-serial-dev
    - sudo apt-get install python-nose
    - sudo pip install --install-option='--no-cython-compile' cython
    - pip install .
    - pip install pep8
    - pip install pydocstyle
    - pip install json-spec jsonschema
    - echo "Branch $TRAVIS_BRANCH"
    - git clone http://github.com/neurodata/ndstore
    - sudo ndstore/setup/ndstore_install.sh
    - cd /home/neurodata/ndstore/test
    - sudo py.test
cache:
    - pip
    - apt
script:
    - cd $TRAVIS_BUILD_DIR
    - ./stylecheck +
    - cd $TRAVIS_BUILD_DIR
    - cd tests
    - python -m unittest discover
